<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>tmpshare</title>
    </head>
    <body>

        <h1>tmpshare</h1>
        <p>
            Easily share temporary files over http. <a href="https://github.com/epeli/tmpshare">Read more</a>.
        </p>

        <h2>Share files</h2>

        <form method=post action="" enctype="multipart/form-data">
            <input type=file name=file multiple>
            <input type=submit>
        </form>

        <h2>Share text</h2>

        <form action="" method=post >
            <input placeholder="unnamed.txt" type=text name=filename>
            <br>
            <textarea placeholder="File content" name=content rows=20 cols=100></textarea>
            <br>
            <input type=submit>
        </form>

        <h2>From terminal</h2>

<pre>
curl -T file.txt <%= currentURL %>

curl -F file=@file.txt -F file2=@file2.txt <%= currentURL %>

cat | curl -T - <%= currentURL %>custom.txt
</pre>

    </body>
</html>
